# Join numbers

In [21]:
def join_numbers(num):
    return ','.join(str(x) for x in range(num))
join_numbers(5)

'0,1,2,3,4'

### Turn String

In [38]:
def turn_str(num):
    return ''.join(str(x) for x in range(num) if x  in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
turn_str(23)

'012345678910'

### Add Number

In [15]:
def add_number(str_num):
    return sum(int(num) for num in str_num.split() if num.isdigit())
add_number('200 67 we20 34')

301

### Phone Number

In the United States, phone numbers have 10 digits—a three-digit area code,
followed by a seven-digit number. Several times during my childhood, area
codes would run out of phone numbers, forcing half of the population to get a
new area code. After such a split, XXX-YYY-ZZZZ might remain XXX-YYY-ZZZZ,
or it might become NNN-YYY-ZZZZ, with NNN being the new area code. The
decision regarding which numbers remained and which changed was often
made based on the phone numbers’ final seven digits. Use a list comprehension
to return a new list of strings, in which any phone number whose YYY begins
with the digits 0–5 will have its area code changed to XXX+1. For example,
given the list of strings ['123-456-7890', '123-333-4444', '123-777-8888'],
we want to convert them to ['124-456-7890', '124-333-4444', '124-777-
8888'].

In [16]:
phone_numbers = ['123-456-7890', '123-333-4444', '123-777-8888']

new_phone_numbers = [number[:4] + str(int(number[4]) + 1) + number[5:] if int(number[4]) <= 5 else number for number in phone_numbers]

print(new_phone_numbers)

['123-556-7890', '123-433-4444', '123-777-8888']

In [21]:
names = ['Rabo', ]
ages = [24]
months = ['Jan']
combine = [{'name': name, 'age': age, 'age_in_months': month} for name in names for age in ages for month in months]
combine

[{'name': 'Rabo', 'age': 24, 'age_in_months': 'Jan'}]

In [11]:
def flatten(mylist):
    return [one_element
    for one_sublist in mylist
    for one_element in one_sublist]
print(flatten([[1,2], [3,4]]))
flat = [[23, 45], [45, [89, 90]]]
flatten_list = [n for nums in flat for num in nums for n in ( num if isinstance(num, list) else [num])]
flatten_list

[1, 2, 3, 4]

[23, 45, 45, 89, 90]