In [1]:
import numpy as np
import pandas as pd

In [4]:
def make_df(cols, ind):
    data = {c: [str(c) + str(i)] for c in cols for i in ind}
    return pd.DataFrame(data,ind)

make_df('ABC', range(3))

    A   B   C
0  A2  B2  C2
1  A2  B2  C2
2  A2  B2  C2

In [5]:
ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])
pd.concat([ser1, ser2])

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

In [6]:
ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])
pd.concat([ser1, ser2], axis=1)

     0    1
1    A  NaN
2    B  NaN
3    C  NaN
4  NaN    D
5  NaN    E
6  NaN    F

In [7]:
x = make_df('AB', [0, 1])
y = make_df('AB', [2, 3])
y.index = x.index # make indices match
display('x', 'y', 'pd.concat([x, y])')

'x'

'y'

'pd.concat([x, y])'

In [8]:
x, y, pd.concat([x, y])

(    A   B
 0  A1  B1
 1  A1  B1,
     A   B
 0  A3  B3
 1  A3  B3,
     A   B
 0  A1  B1
 1  A1  B1
 0  A3  B3
 1  A3  B3)