In [33]:
import pandas as pd
import numpy as np

index = [('California', 2010), ('California', 2020), ('New York', 2010), ('New York', 2020), ('Texas', 2010), ('Texas', 2020)]
populations = [37253956, 39538223,19378102, 20201249, 25145561, 29145505]
pop = pd.Series(populations, index=index)

In [34]:
index = pd.MultiIndex.from_tuples(index)
pop = pop.reindex(index)
pop

California  2010    37253956
            2020    39538223
New York    2010    19378102
            2020    20201249
Texas       2010    25145561
            2020    29145505
dtype: int64

In [35]:
pop[:, 2020]

California    39538223
New York      20201249
Texas         29145505
dtype: int64

In [36]:
pop_df = pop.unstack()
pop_df

                2010      2020
California  37253956  39538223
New York    19378102  20201249
Texas       25145561  29145505

In [18]:
pop_df.stack()

California  2010    37253956
            2020    39538223
New York    2010    19378102
            2020    20201249
Texas       2010    25145561
            2020    29145505
dtype: int64

In [45]:
index = [('mango', 2020), ('mango', 2021), ('orange', 2024), ('orange', 2023)]
fruits_num = [2000, 2003, 1002, 3889]
pop = pd.Series(fruits_num, index=index)
pop

(mango, 2020)     2000
(mango, 2021)     2003
(orange, 2024)    1002
(orange, 2023)    3889
dtype: int64

In [46]:
index = pd.MultiIndex.from_tuples(index)
index

MultiIndex([( 'mango', 2020),
            ( 'mango', 2021),
            ('orange', 2024),
            ('orange', 2023)],
           )

In [47]:
pop = pop.reindex(index)
pop

mango   2020    2000
        2021    2003
orange  2024    1002
        2023    3889
dtype: int64

In [49]:
pop[:, 2024]

orange    1002
dtype: int64

In [50]:
pop.unstack()

          2020    2021    2023    2024
mango   2000.0  2003.0     NaN     NaN
orange     NaN     NaN  3889.0  1002.0