In [3]:
import numpy as np
import pandas as pd
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [4]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [6]:
data[0]

0.25

In [8]:
data[len(data)-1]

1.0

#### implicit index

In [11]:
data = pd.Series([7, 8, 9, 4], index=('a', 'b', 'c', 'e'))

In [12]:
data['a']

7

In [15]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [18]:
population_dict = {'California': 39538223, 'Texas': 29145505, 'Florida': 21538187, 'New York': 20201249,'Pennsylvania': 13002700}
population = pd.Series(population_dict)
population['Pennsylvania']

13002700

In [19]:
population['New York':]

New York        20201249
Pennsylvania    13002700
dtype: int64

In [20]:
population['California':'Florida']

California    39538223
Texas         29145505
Florida       21538187
dtype: int64

#### DataFrame

In [21]:
area_dict = {'California': 423967, 'Texas': 695662, 'Florida': 170312,'New York': 141297, 'Pennsylvania': 119280}

In [26]:
area = pd.Series(area_dict)
data = pd.DataFrame({'population': population, 'area': area})

In [27]:
data.index

Index(['California', 'Texas', 'Florida', 'New York', 'Pennsylvania'], dtype='object')

In [28]:
data.columns

Index(['population', 'area'], dtype='object')

In [33]:
data.loc['Texas': 'Florida', :]

         population    area
Texas      29145505  695662
Florida    21538187  170312

In [35]:
arr = np.array([[2, 5, 6], [6, 8, 9]])
arr[0]

array([2, 5, 6])

In [36]:
data

              population    area
California      39538223  423967
Texas           29145505  695662
Florida         21538187  170312
New York        20201249  141297
Pennsylvania    13002700  119280

In [37]:
data['population']

California      39538223
Texas           29145505
Florida         21538187
New York        20201249
Pennsylvania    13002700
Name: population, dtype: int64

#### Constructing DataFrame

In [41]:
pd.DataFrame(population, columns=['population'])

              population
California      39538223
Texas           29145505
Florida         21538187
New York        20201249
Pennsylvania    13002700

In [42]:
pd.DataFrame([{'a': i, 'b': 2 *i} for i in range(3)])

   a  b
0  0  0
1  1  2
2  2  4

In [44]:
pd.DataFrame({'population': population, 'area': area} )

              population    area
California      39538223  423967
Texas           29145505  695662
Florida         21538187  170312
New York        20201249  141297
Pennsylvania    13002700  119280

In [48]:
pd.DataFrame(np.arange(2, 11).reshape((3, 3)), index=['ab', 'bc', 'cd'], columns=['col1', 'col2', 'col3'])

    col1  col2  col3
ab     2     3     4
bc     5     6     7
cd     8     9    10

In [50]:
ind = pd.Index([2, 3, 5, 7, 11])
ind[1]

3

In [51]:
ind[::]

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [52]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')