In [2]:
import pandas as pd
location = pd.Series(data = [400, 67, 90, 98], name='geolocation', dtype=int)
location

0    400
1     67
2     90
3     98
Name: geolocation, dtype: int32

In [7]:
location[0]

400

In [10]:
location[2]

90

In [17]:
area = pd.Series(data=[50, 67, 8,12], index=['rain', 'dry', 'summer','winter',])
area

rain      50
dry       67
summer     8
winter    12
dtype: int64

In [18]:
river_lengths = pd.Series(data={'Yangtze': 6300, 'Nile': 6650,'Mississippi': 6275, 'Amazon': 6400}, name='copy=Length /km')
river_lengths

Yangtze        6300
Nile           6650
Mississippi    6275
Amazon         6400
Name: copy=Length /km, dtype: int64

In [19]:
print(river_lengths[['Nile', 'Amazon']])

Nile      6650
Amazon    6400
Name: copy=Length /km, dtype: int64

In [20]:
river_lengths[2::-1]

Mississippi    6275
Nile           6650
Yangtze        6300
Name: copy=Length /km, dtype: int64

In [21]:
river_lengths *= 0.99
river_lengths

Yangtze        6237.00
Nile           6583.50
Mississippi    6212.25
Amazon         6336.00
Name: copy=Length /km, dtype: float64

In [24]:
river_lengths[river_lengths > 6500]

Nile    6583.5
Name: copy=Length /km, dtype: float64

In [26]:
if 'Nile' in river_lengths:
    print(river_lengths['Nile'])
else:
    print("Can\'t be found")

6583.5

In [27]:
river_lengths.sort_index()

Amazon         6336.00
Mississippi    6212.25
Nile           6583.50
Yangtze        6237.00
Name: copy=Length /km, dtype: float64

In [31]:
r = river_lengths.sort_values(ascending=True, inplace=False)
r

Mississippi    6212.25
Yangtze        6237.00
Amazon         6336.00
Nile           6583.50
Name: copy=Length /km, dtype: float64

In [2]:
import pandas as pd
masses = pd.Series({'Ganymede': 1.482e23, 'Callisto': 1.076e23, 'Io': 8.932e22, 'Europa': 4.800e22, 'Moon': 7.342e22, 'Earth': 5.972e24}, name='mass /kg')
radii = pd.Series({'Ganymede': 2.634e6, 'Io': 1.822e6, 'Moon': 1.737e6,'Earth': 6.371e6}, name='radius /m')

In [3]:
from scipy.constants import G
surface_g = G * (masses / radii ** 2)
print(surface_g.dropna()) # both dropna and surface_g[surface_g.notnull()] perform the same
surface_g = surface_g[surface_g.notnull()]

Earth       9.819973
Ganymede    1.425681
Io          1.795799
Moon        1.624129
dtype: float64

In [11]:
surface_g.values

array([9.81997343, 1.42568108, 1.79579887, 1.6241288 ])

In [3]:
data_str = pd.Series(data= {'a': 30, 'b': 56, 'c':58}, index=list('absc'))
data_str

a    30.0
b    56.0
s     NaN
c    58.0
dtype: float64

In [4]:
data_str = data_str.fillna(90)

In [15]:
data_str

a    30.0
b    56.0
s    90.0
c    58.0
dtype: float64

In [5]:

import numpy as np
ser3 = data_str/0
print(ser3)
ser3.replace([np.inf, -np.inf], 90)

a    inf
b    inf
s    inf
c    inf
dtype: float64

a    90.0
b    90.0
s    90.0
c    90.0
dtype: float64

In [10]:
human_being = pd.Series(data = [23, 56, 78, 12, 56], index = ['rabo', 'john', 'lawal', 'lois', 'reggie'], name= 'human_data')
human_being

rabo      23
john      56
lawal     78
lois      12
reggie    56
Name: human_data, dtype: int64

In [11]:
ages = pd.Series({'john': 45, 'lois': 56, 'reggie':12, 'rabo': 89})
ages

john      45
lois      56
reggie    12
rabo      89
dtype: int64

In [13]:
average = human_being / ages
average

john      1.244444
lawal          NaN
lois      0.214286
rabo      0.258427
reggie    4.666667
dtype: float64

In [19]:
average[average.isnull()]

lawal   NaN
dtype: float64

In [20]:
average.fillna(90)

john       1.244444
lawal     90.000000
lois       0.214286
rabo       0.258427
reggie     4.666667
dtype: float64

In [21]:
average

john      1.244444
lawal          NaN
lois      0.214286
rabo      0.258427
reggie    4.666667
dtype: float64

In [22]:
average.replace([np.nan], 45)

john       1.244444
lawal     45.000000
lois       0.214286
rabo       0.258427
reggie     4.666667
dtype: float64

In [24]:
average.replace([np.nan], len(average))

john      1.244444
lawal     5.000000
lois      0.214286
rabo      0.258427
reggie    4.666667
dtype: float64

In [30]:
average.dropna()

john      1.244444
lois      0.214286
rabo      0.258427
reggie    4.666667
dtype: float64