In [6]:
import pandas as pd
df = pd.read_csv('india-data.csv', index_col=0)
df.index

Index(['Uttar Pradesh', 'Maharashtra', 'Bihar', 'West Bengal',
       'Madhya Pradesh', 'Tamil Nadu', 'Rajasthan', 'Karnataka', 'Gujarat',
       'Andhra Pradesh', 'Odisha', 'Telangana', 'Kerala', 'Jharkhand', 'Assam',
       'Punjab', 'Chhattisgarh', 'Haryana', 'Delhi', 'Jammu and Kashmir',
       'Uttarakhand', 'Himachal Pradesh', 'Tripura', 'Meghalaya', 'Manipur',
       'Nagaland', 'Goa', 'Arunachal Pradesh', 'Puducherry', 'Mizoram',
       'Chandigarh', 'Sikkim', 'Andaman and Nicobar Islands',
       'Dadra and Nagar Haveli', 'Daman and Diu', 'Lakshadweep'],
      dtype='object', name='State/UT')

In [7]:
df.columns

Index(['Male Population', 'Female Population', 'Area (km2)',
       'Male Literacy (%)', 'Fertility Rate', 'Female Literacy (%)'],
      dtype='object')

In [8]:
df.head(3)

,Male Population,Female Population,Area (km2),Male Literacy (%),Fertility Rate,Female Literacy (%)
State/UT,,,,,,
Uttar Pradesh,104480510,95331831,240928,79.24,3.7,59.26
Maharashtra,58243056,54131277,307713,89.82,1.9,75.48
Bihar,54278157,49821295,94163,73.39,3.9,53.33

In [9]:
df.tail(3)

,Male Population,Female Population,Area (km2),Male Literacy (%),Fertility Rate,Female Literacy (%)
State/UT,,,,,,
Dadra and Nagar Haveli,193760,149949,491,86.46,3.3,65.93
Daman and Diu,150301,92946,112,91.48,1.9,79.59
Lakshadweep,33123,31350,32,96.11,2.1,88.25

In [16]:
df['Population'] = df['Male Population'] + df['Female Population']
total_pop = df['Population'].sum()
print(f'Total population: {total_pop: ,d}')

Total population:  1,210,754,977

In [24]:
df['Population Density (km-2)'] = df['Population'] / df['Area (km2)']
pop_density = df.loc['Daman and Diu', 'Population Density (km-2)']
print(f'The population Density of Daman and Diu is: {pop_density}')

The population Density of Daman and Diu is2171.848214285714

In [26]:
total_pop_den = df['Population Density (km-2)'].sum()
total_pop_den

38503.325515116616

In [27]:
df['Female Literacy (%)'].min()

52.66

In [28]:
df['Population Density (km-2)'].idxmax()

'Delhi'

In [29]:
df['Area (km2)'].idxmax()

'Rajasthan'

In [30]:
df.loc[df['Population Density (km-2)'].idxmax()]

Male Population              8.887326e+06
Female Population            7.800615e+06
Area (km2)                   1.484000e+03
Male Literacy (%)            9.103000e+01
Fertility Rate               1.900000e+00
Female Literacy (%)          8.093000e+01
Population                   1.668794e+07
Population Density (km-2)    1.124524e+04
Name: Delhi, dtype: float64

In [31]:
df.loc[df['Population Density (km-2)'].idxmin()]

Male Population              7.139120e+05
Female Population            6.698150e+05
Area (km2)                   8.374300e+04
Male Literacy (%)            7.369000e+01
Fertility Rate               2.700000e+00
Female Literacy (%)          5.957000e+01
Population                   1.383727e+06
Population Density (km-2)    1.652349e+01
Name: Arunachal Pradesh, dtype: float64