### Sequence

In [4]:
n = 20
fib = [1, 1]
for i in range(2, n + 1):
    fib.append(fib[i - 1] + fib[i - 2])
print(fib)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946]

In [5]:
n = 20
a, b = 1, 1
print(a, b, end='')
for _ in range(2, n + 1):
    a, b = b, a + b
    print('', b, end='')

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946

In [6]:
mammals = ['kangaroo', 'wombat', 'platypus']
for index, elem in enumerate(mammals):
    print(f'{index} : {elem}')

0 : kangaroo
1 : wombat
2 : platypus

In [8]:
list(enumerate(mammals))

[(0, 'kangaroo'), (1, 'wombat'), (2, 'platypus')]

In [20]:
a = [1, 2, 3, 4]
b = ['a', 'b', 'c', 'd']
print(list(zip(a, b)))
for item1, item2 in zip(a, b):
    print('', item1, ':', item2, '/', end='')

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]
 1 : a / 2 : b / 3 : c / 4 : d /

In [22]:
list_tuple = list(zip(a, b))
list_tuple

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [31]:
tuple_a, tuple_b = zip(*list_tuple)
print(tuple_a)
print(tuple_b)

(1, 2, 3, 4)
('a', 'b', 'c', 'd')

In [12]:
s = 'hello'
a = [4, 10, 2]
print(s, sep='-')
print(*s, sep='-')
print(a)
print(*a, sep='')
list(range(*a))

hello
h-e-l-l-o
[4, 10, 2]
4102

[4, 6, 8]

In [15]:
from math import *
d = 8
e = 2
sqrt(d ** e)

8.0

In [78]:
a = 5
b = 2
print(a // b == a / b)
print(a - b * (a // b) ==  a % b)
a = 2
b = 6
a_cube = b*a**3
b_cube = a*b**3
cube_diff = a_cube - b_cube
cube_mul = cube_diff * 3
cube_mul % 7

False
True

3

In [82]:
from math import *
fifth = (2)**(1/5)
fifth_mul = fifth * 2017
fifth_mul

2316.92458202902