In [2]:
height = {'Burj Khalifa': 828., 'One World Trade Center': 541.3,
'Mercury City Tower': -1., 'Q1': 323.,
'Carlton Centre': 223., 'Gran Torre Santiago': 300.,
'Mercury City Tower': 339.}

height

{'Burj Khalifa': 828.0,
 'One World Trade Center': 541.3,
 'Mercury City Tower': 339.0,
 'Q1': 323.0,
 'Carlton Centre': 223.0,
 'Gran Torre Santiago': 300.0}

In [4]:
print(height['One World Trade Center'])
building = 'Carlton Centre'
height[building]

541.3

223.0

In [5]:
height['Empire State Building'] = 381.
height['The Shard'] = 306.

In [7]:
ordinal = dict([(1, 'orange'), (2, 'egg'), (5, 'tea')])
ordinal

{1: 'orange', 2: 'egg', 5: 'tea'}

In [9]:
mass = dict(Mercury=3.301e23, Venus=4.867e24, Earth=5.972e24)
mass

{'Mercury': 3.301e+23, 'Venus': 4.867e+24, 'Earth': 5.972e+24}

In [10]:
for key in ordinal:
    print(key, ordinal[key])

1 orange
2 egg
5 tea

In [1]:
numerals = {'one':'I', 'two':'II', 'three':'III', 'four':'IV', 'five':'V', 'six':'VI', 'seven':'VII', 'eight':'VIII', 1: 'I', 2: 'II', 3: 'III', 4:'IV', 5: 'V', 6:'VI', 7:'VII', 8:'VIII'}

In [4]:
for i in ['three', 'four', 'five', 'six']:
    print(numerals[i], end=' ')

III IV V VI

In [6]:
for i in range(8, 0, -1):
    print(numerals[i], end=' ')

VIII VII VI V IV III II I

In [8]:
print(numerals.get('open'))

None

In [9]:
numerals.get('one', 1)

'I'

In [12]:
numerals.items()

dict_items([('one', 'I'), ('two', 'II'), ('three', 'III'), ('four', 'IV'), ('five', 'V'), ('six', 'VI'), ('seven', 'VII'), ('eight', 'VIII'), (1, 'I'), (2, 'II'), (3, 'III'), (4, 'IV'), (5, 'V'), (6, 'VI'), (7, 'VII'), (8, 'VIII')])

In [14]:
def my_v(x, y, z):
    print(x, y, z)
my_obj = {'x': 3, 'y': 4, 'z': 6}
my_v(**my_obj)

3 4 6

In [21]:
text = 'Four score and seven years ago our fathers brought forth on this ' \
'continent , a new nation , conceived in Liberty , and dedicated to the proposition ' \
'that all men are created equal'
text = text.replace(',', '').lower()
word_length = {}
for word in text.split():
    try:
        word_length[len(word)] += 1
    except KeyError:
        word_length[len(word)] = 1
word_length

{4: 3, 5: 5, 3: 9, 7: 4, 2: 3, 9: 3, 1: 1, 6: 1, 11: 3}

In [23]:
from collections import defaultdict
word_length = defaultdict(int)
for word in text.split():
    word_length[len(word)] += 1
word_length

defaultdict(int, {4: 3, 5: 5, 3: 9, 7: 4, 2: 3, 9: 3, 1: 1, 6: 1, 11: 3})

In [36]:
s = set([1, 1, 4, 3, 2, 2, 3, 4, 1, 3, 'surprise!'])
for elem in s:
    print(elem)

1
2
3
4
surprise!

In [37]:
s.add(100)
s

{1, 100, 2, 3, 4, 'surprise!'}

In [39]:
s.remove(1)

In [40]:
s

{100, 2, 3, 4, 'surprise!'}

In [43]:
s.discard(4)

In [44]:
s

{100, 2, 3, 'surprise!'}

In [45]:
s.pop()

2

In [46]:
s

{100, 3, 'surprise!'}

In [47]:
A = set((1, 2, 3))
B = set((1, 2, 3, 4))
C, D = set((3, 4, 5, 6)), set((7, 8, 9))
B | C # union
{1, 2, 3, 4, 5, 6}
A | C | D # union of three sets
{1, 2, 3, 4, 5, 6, 7, 8, 9}
A & C # intersection
{3}
C & D
set() # the empty set
C.isdisjoint(D)
True
B - C # difference
{1, 2}
B ^ C # symmetric difference
{1, 2, 5, 6}

{1, 2, 5, 6}